:root {
    --sidebar-space: 20pc;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 0;
    margin: 0;
    background-color: #000;
    /* height: 100%; */
    /* overflow-y: hidden; */
    overflow-x: hidden;
}
.page {
    display: inline-flexbox;
    background-color: #FFF;
    margin: auto;
    width: auto;
    overflow-y: visible;
    /* calc(100% - (2pc var(--sidebar-space))); */
    margin-left: calc( var(--sidebar-space) + 1pc);
    padding: 4pc;
}


.hideBarContainer {
    direction: rtl;
    position: fixed;
    left: 0;
    top: 0;
    overflow-y: scroll;
    display: inline-block;
    height: 100vh;
    vertical-align: top;
    font-size: smaller;
    width: calc( var(--sidebar-space)); */
    /* text-align: right; */
}

div.hideBar {
}

ul.vMenu {
    direction: ltr;
    width: inherit;
    margin: 0;
    padding: 1pc 2pc 1pc 1pc;
    list-style-type: none;
    /* position: relative; */
    background-color: #BBB;
    border-top-right-radius: 4pc;
    border-bottom-right-radius: 4pc;
}

a.vMenu {
    color:inherit;
    text-decoration: none;
}
.vMenu p, 
.vMenu h3 {
    margin: 0;
}


td.trMessage {
    /* width: max-content; */
    color:white;
    background-color: #222222;
    padding: 1pc;
    border-radius: 10pt;
    /* white-space: normal; */
}
/* td.trNull {
    border: 1pt;
} */
hr {
    height: 1pt;
    border-width: 0pc;
    background-color: #222222;
}
pre {
    font: inherit;
    margin: 0;
    padding: 0;
}
td.trTable {
    width: max-content;
    /* display: inline-block; */
    margin: 1pc;
}
th.trTable div {
    background-color: #222222;
    color: white;
    text-align: center;
    border-radius: 4pc;
    padding: 0.5pc;
}
th.trTable {
    text-align: left;
    vertical-align: text-top;
    text-indent: 0;
}
#allTables {
    /* inline-size: min-content; */
    /* white-space: nowrap; */
    /* font-size: large; */
}

a.linkNoColor {
    color: inherit;
    text-decoration: inherit;
}

/** The first 4 appear in game, the 5th is
    in the debug messages, and the rest are 
    probably just undefined states. */
    .c0, .c8 {
        color: #FFFFFF;
    }
    .c1, .c9 {
        color: #f54242;
    }
    .c2, .cA, .cE {
        color: #3cc932;
    }
    .c3, .cB {
        color: #4287f5;
    }
    .c4, .cC {
        color: #000000;
        background-color: #7F7F7F;
    }
    .c5, .cD, .cF {
        color: #FFFFFF;
        background-color: #444444;
    }
    .c6 {
        color: #FFFFFF;
        background-color: #7a231c;
    }
    .c7 {
        color: #f54242;
        background-color: #7a231c;
    }
    .cERROR {
        color: #FFFFFF;
        background-color: #FF0000;
    }
